.aboutContainer{
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
    position: relative;
    background-color: beige;
}

.profileInfo{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.profileTextWrapper{
    flex: 20%;
    position: relative;
    padding: 0 60px;
    background-color: beige;
}

.profileTextWrapper h1{
    font-size: 5rem;
}



.profileImgWrapper img{
    max-width: 600px;
    width: 100%;
    height: auto;
}