.pageContainer{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.profileTextWrapper{
    flex: 40%;
    position: relative;
    margin-top: 0;
}

.profileTextWrapper h1{
    position: relative;
    margin-top: 0;
}

.aboutText{
    position: relative;
    top: -40px;
}

.profileImgWrapper img{
    max-width: 450px;
    width: 100%;
    height: auto;
}

.connectSection{
    display: flex;
    align-items: center;
    position: relative;
    top: -40px;
}

.connectSection li{
    list-style: none;
}

.connectSection li:nth-child(2){
    padding: 0 10px;
}

.connectSection img{
   height: 25px;
   width: auto;
}