@font-face {
    font-family: 'cigra';
    src: local('cigra'),
     url('cigra.ttf') format('ttf');
}

@font-face {
    font-family: 'New York';
    src: local('newyork'),
     url('newYork.otf') format('otf');
}

@font-face {
    font-family: 'Blue Ocean';
    src: local('Blue Ocean'),
     url('blueOcean.ttf') format('ttf');
}