@font-face {
    font-family: 'Cotham Sans';
    src: url('../../assets/fonts/CothamSans.otf');
}


.navBarItems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    height: 80px;
    z-index: 1;
    border-bottom: 2px solid black;
}

.logo{
    text-decoration: none;
    color: black;
}

.logo img{
    width: 60px;
    transition: transform .2s;
}

.logo img:hover{
    transform: scale(1.2);
}

.menuIcon{
    display: none;
}

.rightNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.rightNav li{
    padding: 0 20px;
    position: relative;
    font-size: 1.3rem;
}

.nav-links{
    text-decoration: none;
    color: black;
    transition: 0.3s ease-in-out;
    font-family: Cotham Sans;
}

@media screen and (max-width: 600px){
    .menuIcon{
        font-size: 2rem;
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        cursor: pointer;
        transform: translate(-100%, 50%);
    }
    
    .navBarItems{
        position: relative;
    }

    .rightNav{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: calc(100% - 80px);
        top: 60px;
        position: absolute;
        transition: all .5s ease;
        left: -100%;
    }

    .rightNav.active{
        left: 0;
        opacity: 1;
        z-index: 1;
        height: 60vh;
        transition: all 0.5s ease;
        background-color: white;
        box-sizing: border-box;
    }

    .nav-links{
        margin: 50px 50px;
        text-align: center;
        display: table;
        padding: 1rem;
        transition: all 0.2s ease;
    }

    .nav-links:hover{
        transform: scale(1.2);
    }
  
}