.navBarItems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    height: 80px;
    z-index: 1;
    border-bottom: 2px solid black;
}

.logo{
    text-decoration: none;
    color: black;
}

.logo img{
    width: 60px;
}

.menuIcon{
    display: none;
}

.rightNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rightNav li{
    list-style: none;
    padding: 0 20px;
    position: relative;
    font-size: 1.3rem;
}

.nav-links{
    text-decoration: none;
    color: black;
    transition: 0.3s ease-in-out;
}


@media screen and (max-width: 850px){
    .menuIcon{
        font-size: 2rem;
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        cursor: pointer;
    }
    
    .navBarItems{
        position: relative;
    }

    .rightNav{
        display: flex;
        flex-direction: column;
        right: 0;
        top: 65px;
        background-color: beige;
        width: 0px;
        height: calc(100% - 80px);
        transition: all 0.3s ease-in;
        overflow: hidden;

        
    }

    .rightNav.active{
        width: 300px;
    }

  
}