.workContainer{
    min-height: calc(100vh - 283px);
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2% 10%;
    gap: 20px;
}
.caseStudies{
    display: flex;
    flex-direction: column;
    width: 100%;
}    

.case-links{
    text-decoration: none;
}

.caseStudy{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.tag{
    display: inline;
    padding-right: 4px;
}


.creativeItem{
    max-width: 1000px;
}
.creativeItem .imageWrapper{
    position: relative;
    display: inline-block;
    border-radius: 40% 40% 55% 45% / 55% 60% 40% 45%;
    overflow: hidden;
}
.imageWrapper img{
    max-width: 800px;
    display: block;
    transition: transform 0.2s ease;
    border-radius: 40% 40% 55% 45% / 55% 60% 40% 45%;
}
.creativeTitle{font-weight: bold;}


@media screen and (max-width:760px) {
    .caseStudy{
        flex-direction: column;
        align-items: flex-start;
    }
    .tag{
        position: relative;
        top: -15px;
    }
}