.case-links{
    text-decoration: none;
}

.caseNumber{
    font-family: brema;
    padding-left: 4px;
}

.tag{
    display: inline;
    padding-right: 4px;
}

.work{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

img{
    border-radius: 0;
}


@media screen and (max-width:760px) {
    .work{
        flex-direction: column;
        align-items: flex-start;
    }
    .tag{
        position: relative;
        top: -15px;
    }
}