.case-links{
    text-decoration: none;
}

.case-links h1{
    font-size: 30px;
    display: inline;
}
.caseNumber{
    font-family: brema;
}

.tag{
    display: inline;
}

.work{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}


