.studiesContainer, .blenderContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    margin: 10px 10px;
}

.studyWrapper{
    position: relative;
}

.studyWrapper img{
   object-fit: cover;
   height: 100%;
   width: 100%;
}

.case-title{
    position: absolute;
    top:0; left: 0; bottom: 0; right: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(248,239,230,0.52);
    color: black;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
}

.studyWrapper:hover .case-title{
    visibility: visible;
    opacity: 1;
}

.renderWrapper img{
    object-fit: cover;
    height: 100%;
    width: 100%;

}

@media screen and (max-width: 800px) {
    .studiesContainer, .blenderContainer{
        grid-template-columns: repeat(2,1fr); 
    }
}

@media screen and (max-width: 500px) {
    .studiesContainer, .blenderContainer{
        grid-template-columns: 1fr; 
    }
}